@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using MyProject.Interfaces;

@inject IOrderService _orderService
@{
    var minimalOrders = await _orderService.GetMiminalOrdersAsync();
}
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>CUSTOMER</th>
            <th>ORDER TIMESTAMP</th>
            <th>ADDRESS</th>
            <th>TOTAL PRICE</th>
            <th>STATUS</th>
            <th>TRACKING</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var minimalOrder in minimalOrders)
        {
            <tr>
                <td width="14%">
                    @minimalOrder.CustomerFullName
                </td>
                    <td width="14%">
                    @minimalOrder.OrderTimestamp
                </td>
                <td width="30%">
                    @minimalOrder.OrderAddress
                </td>
                <td width="14%">
                    @minimalOrder.TotalPrice $
                </td>
                <td width="14%">
                    @minimalOrder.OrderStatus
                </td>
                <td width="14%">
                    @minimalOrder.OrderTracking
                </td>
            </tr>
        }
    </tbody>     
</table>
